# Lab Assignment 6: Creating and Connecting to Databases
## DS 6001: Practice and Application of Data Science

## Emily Lien, egl6a

### Instructions
Please answer the following questions as completely as possible using text, code, and the results of code as needed. Format your answers in a Jupyter notebook. To receive full credit, make sure you address every part of the problem, and make sure your document is formatted in a clean and professional way.

**This assignment requires you to include tables and images.** 

To create a table in a markdown cell, I recommend using the markdown table generator here: https://www.tablesgenerator.com/markdown_tables. This interface allows you to choose the number of rows and columns, fill in those rows and colums, and push the "generate" button. The website will display markdown table code that looks like:
```
| Day       | Temp | Rain |
|-----------|------|------|
| Monday    | 74   | No   |
| Tuesday   | 58   | Yes  |
| Wednesday | 76   | No   |
```
Copy the markdown code and paste it into a markdown cell in your notebook. Markdown will read the code and display a table that looks like this:

| Day       | Temp | Rain |
|-----------|------|------|
| Monday    | 74   | No   |
| Tuesday   | 58   | Yes  |
| Wednesday | 76   | No   |

To put an image into a markdown cell in a Jupyter notebook, save the image as a .png or .jpg file in the same folder where you have saved your Jupyter notebook, and use markdown code that looks like this:
```
![](imagefile.png)
```
where you will need to replace `imagefile.png` with the name of your own image file. Alternatively, if you want to control the size of the image in your notebook, type the following code on its own line in the markdown cell:
```
<img src="imagefile.png" width="600">
```
Here the `width` option allows you to control the size of the image by making this number larger or smaller. **It is very important to upload each of your image files along with this notebook when you submit this assignment on Collab.**

### Problem 0
Import the following libraries, load the `.env` file where you store your passwords (see the notebook for module 4 for details), and turn off the error tracebacks to make errors easier to read:

In [1]:
import numpy as np
import pandas as pd
import wget
import sqlite3
import sqlalchemy
import requests
import json
import os
import sys
import dotenv
os.chdir("C:/Users/Night Elf/Documents/Python Scripts/DS 6001") # change to the directory where your .env file is
dotenv.load_dotenv() # register the .env file where passwords are stored
sys.tracebacklimit = 0 # turn off the error tracebacks

ModuleNotFoundError: No module named 'wget'

### Problem 1 
Suppose that we have (fake) data on people who are currently being hospitalized. Here are five records in the data:

|patient|conditions|dateofbirth|age|sex|attendingphysician|APmedschool|APyearsexperiece|hospital|hospitallocation|
|-|-|-|-|-|-|-|-|-|-|
|Nkemdilim Arendonk|[Pneumonia, Diabetes]|2/21/1962|58|M|Earnest Caro|University of California (Irvine)|14|UPMC Presbyterian Shadyside|Pittsburgh, PA|
|Raniero Coumans|[Appendicitis, Crohn's disease]|8/15/1990|29|M|Pamela English|University of Michigan|29|Northwestern Memorial Hospital|Chicago, IL|
|Mizuki Debenham|[Kidney Cancer]|3/12/1977|43|F|Lewis Conti|North Carolina State University|8|Houston Methodist Hospital|Houston, TX|
|Zoë De Witt|[Cardiomyopathy, Diabetes, Sciatica]|11/23/1947|72|F|Theresa Dahlmans|Lake Erie College of Medicine|17|Mount Sinai Hospital|New York, NY|
|Bonnie Hooper|[Pancreatic Cancer, Sciatica]|7/4/1951|68|F|Steven Garbutt|Ohio State University|36|UCSF Medical Center|San Francisco, CA|

The columns in this dataset are:

* **patient**: Patient name
* **conditions**: A list of the conditions that are relevant to the patient's hospitalization
* **dateofbirth**: The patient's date of birth
* **age**: The patient's age
* **sex**: The patient's sex
* **attendingphysician**: The name of the attending physician for the patient
* **APmedschool**: The name of the school where the attending physician got a medical degree
* **APyearsexperiece**: The attending physician's number of years of experience post-residency
* **hospital**: The hospital where the attending physicial is employed
* **hospitallocation**: The location of the hospital

For this problem, assume that 

1. Some people in the data share the same name, but no two people in the data share the same name and date of birth.

2. Every attending physician is employed at only one hospital.

3. Every hospital exists at only one location.

4. There's more than one doctor with the same name, but there are no doctors with the same name that work at the same hospital.

#### Part a 
Rearrange the data on the five patients into a group of data tables that together meet the requirements of first normal form. [2 points]

|Patient ID| Patient  | DOB  |  Sex |
|---|---|---|---|
|001| Nkemdilim Arendonk  |  2/21/1962 | M  |
|002| Raniero Coumans  |  8/15/1990 |  M |
|003| Zoë De Witt  |  11/23/1947 |  F |
|004|  Mizuki Debenham | 3/12/1977  |  F |
|005| Bonnie Hooper  | 7/4/1951  | F  |

| HospitalID  |  Hospital |  Location |
|---|---|---|
| 111  |  UPMC Presbyterian Shadyside |  Pittsburgh, PA |
| 112  |   Northwestern Memorial Hospital | Chicago, IL  |
| 113  |   Houston Methodist Hospital | Houston, TX  |
| 114  | Mount Sinai Hospital  |   New York, NY |
| 115  |   UCSF Medical Center | San Francisco, CA  |

| AP ID  |  Attending Physician |  APMedSchool | AP Years of Experience  |Hospital ID|
|---|---|---|---|---|
| 011  | Earnest Caro  |  University of California (Irvine) |  14 | 111|
|  012 |  Pamela English | University of Michigan  | 29  | 112|
|  013 |  Lewis Conti |  North Carolina State University |  8 |113|
| 014  |  Theresa Dahlmans  |   Lake Erie College of Medicine |  17 | 114|
|  015 |  Steven Garbutt |   Ohio State University |   36 | 115|

| Disease ID  |  Disease |
|---|---|
| 121  |  Pneumonia |
| 122  |  Diabetes |
| 123  | Appendicitis  |
| 124  | Crohn's disease  |
| 125  | Kidney Cancer |
| 126  | Cardiomyopathy  |
| 127  |  Sciatica |
| 128  | Pancreatic Cancer  |

| Patient ID  | Disease ID  | Attending Physician ID  |
|---|---|---|
| 001  | 121  |  011 |
| 001  |  122 |  011 |
| 002  |  123 |  012 |
| 002  |  124 |  012 |
| 004  | 125  | 013  |
| 003  | 126  | 014  |
| 003  | 122  | 014  |
| 003  | 127  | 014  |
| 005  | 128  | 015  | 
| 005  | 127  | 015  |

#### Part b 
Rearrange the data on the five patients into a group of data tables that together meet the requirements of second normal form. [2 points]

|Record ID| Patient ID  | Disease ID  | Attending Physician ID  |
|---|---|---|---|
|1| 001  | 121  |  011 |
|2| 001  |  122 |  011 |
|3| 002  |  123 |  012 |
|4| 002  |  124 |  012 |
|5| 004  | 125  | 013  |
|6| 003  | 126  | 014  |
|7| 003  | 122  | 014  |
|8| 003  | 127  | 014  |
|9| 005  | 128  | 015  | 
|10| 005  | 127  | 015  |

#### Part c 
Rearrange the data on the five patients into a group of data tables that together meet the requirements of third normal form. 

Note that the patient's age is a derived attribute from the patient's date of birth, but please don't make an extra data table just for age. In principle, if we are worried about data inconsistencies we can simply remove age from the database and calculate it when needed from date of birth. But for this exercise, leave age in the table and ignore its dependency with date of birth. [2 points]

| AP ID  |  Attending Physician |  APMedSchool | AP Years of Experience  |
|---|---|---|---|
| 011  | Earnest Caro  |  University of California (Irvine) |  14 |
|  012 |  Pamela English | University of Michigan  | 29  |
|  013 |  Lewis Conti |  North Carolina State University |  8 |
| 014  |  Theresa Dahlmans  |   Lake Erie College of Medicine |  17 |
|  015 |  Steven Garbutt |   Ohio State University |   36 |

|Record ID| Patient ID  | Disease ID  | Attending Physician ID  | Hospital ID|
|---|---|---|---|---|
|1| 001  | 121  |  011 | 111 |
|2| 001  |  122 |  011 | 111 |
|3| 002  |  123 |  012 | 112 |
|4| 002  |  124 |  012 | 112 |
|5| 004  | 125  | 013  | 113 |
|6| 003  | 126  | 014  | 114 |
|7| 003  | 122  | 014  | 114 |
|8| 003  | 127  | 014  | 114 |
|9| 005  | 128  | 015  | 115 |
|10| 005  | 127  | 015  | 115 |

### Problem 2
For this problem, create ER diagrams of the database you created in problem 1, part c using draw.io: https://app.diagrams.net/. The symbols used for both Chen's notation and IE notation are on the left-hand toolbar.

#### Part a 
Create a conceptual ER diagram using Chen's notation. [2 points]

<img src="Lab_6_problem_2a.jpg" width="600">

#### Part b 
Create a logical ER diagram using Chen's notation. [2 points]

<img src="Lab_6_problem_2b.jpg" width="600">

#### Part c 
Create a conceptual ER diagram using IE notation. [2 points]

<img src="Lab_6_problem_2c.jpg" width="600">

### Problem 3
For this problem, you will download the individual CSV files that comprise a relational database on album reviews from [Pitchfork Magazine](https://pitchfork.com/), collected via webscraping by [Nolan B. Conaway](https://github.com/nolanbconaway/pitchfork-data), and use them to initialize local databases using SQlite, MySQL, and PostgreSQL. 

To get the data, first set the working directory the folder on your computer to the folder where you want the CSV files to be. This should be the same folder where you saved our lab notebook and all associated files. Then change this line of code to the address for that folder:

The following code of code will download the CSV files. Please run this as is:

In [51]:
url = "https://github.com/nolanbconaway/pitchfork-data/raw/master/pitchfork.db"
pfork = wget.download(url)
pitchfork = sqlite3.connect(pfork)
for t in ['artists','content','genres','labels','reviews','years']:
    datatable = pd.read_sql_query("SELECT * FROM {tab}".format(tab=t), pitchfork)
    datatable.to_csv("{tab}.csv".format(tab=t))

Note: this code downloaded a SQlite database and extracted the tables, saving each one as a CSV. That seems backwards, as the purpose of this exercise is to create databases. But the point is to practice creating databases from individual data frames. Next we load the CSVs to create the data frames in Python:

In [52]:
reviews = pd.read_csv("reviews.csv")
artists = pd.read_csv("artists.csv")
content = pd.read_csv("content.csv")
genres = pd.read_csv("genres.csv")
labels = pd.read_csv("labels.csv")
years = pd.read_csv("years.csv")

#### Part a
Initialize a new database using SQlite and the `sqlite3` library. Add the six dataframes to this database. Then issue the following query to the database
```
SELECT title, artist, score FROM reviews WHERE score=10
```
using two methods: first, using the `.cursor()` method, and second using `pd.read_sql_query()`. Finally, commit your changes to the database and close the database. (If you get a warning about spaces in the column names, feel free to ignore it this time.) [2 points]

In [4]:
music_db = sqlite3.connect("pitchfork.db")

In [5]:
music_cursor = music_db.cursor()

In [7]:
music_cursor.execute("SELECT title, artist, score FROM reviews WHERE score=10")
stuff_df = music_cursor.fetchall()
pd.DataFrame(stuff_df)

,0,1,2
0,metal box,public image ltd,10.0
1,blood on the tracks,bob dylan,10.0
2,another green world,brian eno,10.0
3,songs in the key of life,stevie wonder,10.0
4,in concert,nina simone,10.0
...,...,...,...
71,source tags and codes,...and you will know us by the trail of dead,10.0
72,the olatunji concert: the last live recording,john coltrane,10.0
73,kid a,radiohead,10.0
74,animals,pink floyd,10.0
75,i see a darkness,bonnie prince billy,10.0

In [8]:
df = pd.read_sql_query("SELECT title, artist, score FROM reviews WHERE score=10", music_db)
df

,title,artist,score
0,metal box,public image ltd,10.0
1,blood on the tracks,bob dylan,10.0
2,another green world,brian eno,10.0
3,songs in the key of life,stevie wonder,10.0
4,in concert,nina simone,10.0
...,...,...,...
71,source tags and codes,...and you will know us by the trail of dead,10.0
72,the olatunji concert: the last live recording,john coltrane,10.0
73,kid a,radiohead,10.0
74,animals,pink floyd,10.0
75,i see a darkness,bonnie prince billy,10.0

In [9]:
music_db.commit()
music_db.close()

#### Part b
Follow the instructions in the Jupyter notebook for this module to install MySQL and `mysql.connector` on your computer. Make sure the MySQL server is running. Then import `mysql.connector` and do all of the tasks listed for part a using a MySQL database (including commiting changes and closing the database connection). Take steps to hide your password - do not let it display in your notebook. [2 points]

In [4]:
import mysql.connector

In [5]:
dotenv.load_dotenv()
mysqlpassword = os.getenv("MySQL")

In [6]:
dbserver = mysql.connector.connect(
    user='root', 
    passwd=mysqlpassword, 
    host="localhost"
)

In [7]:
cursor = dbserver.cursor()

In [ ]:
cursor.execute("CREATE DATABASE pitchfk_db")

In [8]:
pitchfk_db = mysql.connector.connect(
    user='root', 
    passwd=mysqlpassword, 
    host="localhost",
    database="pitchfk_db"
)

In [9]:
from sqlalchemy import create_engine

ERROR! Session/line number was not unique in database. History logging moved to new session 340

In [11]:
engine = create_engine("mysql+mysqlconnector://{user}:{pw}@localhost/{db}"
                       .format(user="root", pw=mysqlpassword, db="pitchfk_db"))

ERROR! Session/line number was not unique in database. History logging moved to new session 341

In [ ]:
reviews.to_sql('reviews', con = engine, index=False, chunksize=1000, if_exists = 'replace')

In [ ]:
artists.to_sql('artists', con = engine, index=False, chunksize=1000, if_exists = 'replace')
content.to_sql('content', con = engine, index=False, chunksize=1000, if_exists = 'replace')
genres.to_sql('genres', con = engine, index=False, chunksize=1000, if_exists = 'replace')
labels.to_sql('labels', con = engine, index=False, chunksize=1000, if_exists = 'replace')
years.to_sql('years', con = engine, index=False, chunksize=1000, if_exists = 'replace')

In [14]:
cursor = pitchfk_db.cursor()
cursor.execute("SELECT title, artist, score FROM reviews WHERE score=10")

In [15]:
stuff2_df = cursor.fetchall()
pd.DataFrame(stuff2_df)

,0,1,2
0,metal box,public image ltd,10.0
1,blood on the tracks,bob dylan,10.0
2,another green world,brian eno,10.0
3,songs in the key of life,stevie wonder,10.0
4,in concert,nina simone,10.0
...,...,...,...
71,source tags and codes,...and you will know us by the trail of dead,10.0
72,the olatunji concert: the last live recording,john coltrane,10.0
73,kid a,radiohead,10.0
74,animals,pink floyd,10.0
75,i see a darkness,bonnie prince billy,10.0

In [13]:
pd.read_sql_query("SELECT title, artist, score FROM reviews WHERE score=10", con=engine)

,title,artist,score
0,metal box,public image ltd,10.0
1,blood on the tracks,bob dylan,10.0
2,another green world,brian eno,10.0
3,songs in the key of life,stevie wonder,10.0
4,in concert,nina simone,10.0
...,...,...,...
71,source tags and codes,...and you will know us by the trail of dead,10.0
72,the olatunji concert: the last live recording,john coltrane,10.0
73,kid a,radiohead,10.0
74,animals,pink floyd,10.0
75,i see a darkness,bonnie prince billy,10.0

In [18]:
dbserver.commit()

In [32]:
dbserver.close()

#### Part c
Follow the instructions in the Jupyter notebook for this module to install PostgreSQL and `psycopg2` on your computer. Then import `psycopg2` and do all of the tasks listed for part a using a PostgreSQL database (including commiting changes and closing the database connection). Take steps to hide your password - do not let it display in your notebook. [2 points]

In [17]:
import psycopg2

In [30]:
dotenv.load_dotenv()
PGPASS = os.getenv("PGSQL")

In [23]:
dbserver = psycopg2.connect(
    user='postgres', 
    password=PGPASS, 
    host="localhost"
)
dbserver.autocommit = True

In [24]:
cursorPG = dbserver.cursor()

In [ ]:
cursorPG.execute("CREATE DATABASE pitchfork")

In [29]:
pitchfork2 = psycopg2.connect(
    user='postgres', 
    password=PGPASS, 
    host="localhost",
    database="pitchfork2")

ERROR! Session/line number was not unique in database. History logging moved to new session 350

In [31]:
engine2 = create_engine("postgresql+psycopg2://{user}:{pw}@localhost/{db}"
                       .format(user="postgres", pw=PGPASS, db="pitchfork2"))

In [33]:
reviews.to_sql('reviews', con = engine2, index=False, chunksize=1000, if_exists = 'replace')
artists.to_sql('artists', con = engine2, index=False, chunksize=1000, if_exists = 'replace')
content.to_sql('content', con = engine2, index=False, chunksize=1000, if_exists = 'replace')
genres.to_sql('genres', con = engine2, index=False, chunksize=1000, if_exists = 'replace')
labels.to_sql('labels', con = engine2, index=False, chunksize=1000, if_exists = 'replace')
years.to_sql('years', con = engine2, index=False, chunksize=1000, if_exists = 'replace')

In [34]:
cursorPGS = pitchfork2.cursor()

In [42]:
cursorPGS.execute("SELECT title, artist, score FROM reviews WHERE score=10")

In [43]:
stuffPGS_df = cursorPGS.fetchall()
colnames = [x[0] for x in cursorPGS.description]
pd.DataFrame(stuffPGS_df,columns=colnames)

,title,artist,score
0,metal box,public image ltd,10.0
1,blood on the tracks,bob dylan,10.0
2,another green world,brian eno,10.0
3,songs in the key of life,stevie wonder,10.0
4,in concert,nina simone,10.0
...,...,...,...
71,source tags and codes,...and you will know us by the trail of dead,10.0
72,the olatunji concert: the last live recording,john coltrane,10.0
73,kid a,radiohead,10.0
74,animals,pink floyd,10.0
75,i see a darkness,bonnie prince billy,10.0

In [44]:
pd.read_sql_query("SELECT title, artist, score FROM reviews WHERE score=10",con=engine2)

,title,artist,score
0,metal box,public image ltd,10.0
1,blood on the tracks,bob dylan,10.0
2,another green world,brian eno,10.0
3,songs in the key of life,stevie wonder,10.0
4,in concert,nina simone,10.0
...,...,...,...
71,source tags and codes,...and you will know us by the trail of dead,10.0
72,the olatunji concert: the last live recording,john coltrane,10.0
73,kid a,radiohead,10.0
74,animals,pink floyd,10.0
75,i see a darkness,bonnie prince billy,10.0

ERROR! Session/line number was not unique in database. History logging moved to new session 351

In [ ]:
#Gave me an assertion error for some reason
dbserver.commit()

In [45]:
dbserver.close()

ERROR! Session/line number was not unique in database. History logging moved to new session 353

### Problem 4
[Colin Mitchell](http://muffinlabs.com/) is a web-developer and artist who has a bunch of [cool projects](http://muffinlabs.com/projects.html) that play with what data can do on the internet. One of his projects is [Today in History](https://history.muffinlabs.com/), which provides an API to access all the Wikipedia pages for historical events that happened on this day in JSON format. The records in this JSON are stored in the `['data']['events']` path. Here's the first listing for today:

In [46]:
history = requests.get("https://history.muffinlabs.com/date")
history_json = json.loads(history.text)
events = history_json['data']['Events']
events[0]

{'year': '768',
 'text': 'Carloman I and Charlemagne are crowned kings of the Franks.',
 'html': '768 - <a href="https://wikipedia.org/wiki/Carloman_I" title="Carloman I">Carloman I</a> and <a href="https://wikipedia.org/wiki/Charlemagne" title="Charlemagne">Charlemagne</a> are crowned kings of the Franks.',
 'no_year_html': '<a href="https://wikipedia.org/wiki/Carloman_I" title="Carloman I">Carloman I</a> and <a href="https://wikipedia.org/wiki/Charlemagne" title="Charlemagne">Charlemagne</a> are crowned kings of the Franks.',
 'links': [{'title': 'Carloman I',
   'link': 'https://wikipedia.org/wiki/Carloman_I'},
  {'title': 'Charlemagne', 'link': 'https://wikipedia.org/wiki/Charlemagne'}]}

For this problem, you will use MongoDB and the `pymongo` library to create a local document store NoSQL database containing these historical events.

Follow the instructions in the Jupyter notebook for this module to install MongoDB and `pymongo` on your computer. Make sure the local MongoDB server is running. Then import `pymongo`, connect to the local MongoDB client, create a database named "history" and a collection within that database named "today". Insert all of the records in `events` into this collection. Then issue the following query to find all of the records whose text contain the word "Virginia":
```
query = {
    "text":{
        "$regex": 'Virginia'
    }
}
```
If there are no results that contain the word "Virginia", choose a different work like "England" or "China". Display the count of the number of documents that match this query, display the output of the query, and generate a JSON formatted variable containing the output. [2 points]

In [48]:
import pymongo

In [55]:
monGOD = pymongo.MongoClient("mongodb://localhost/")

In [72]:
History = monGOD['history']

In [73]:
today = History['today']

In [ ]:
Events = today.insert_many(events)

In [78]:
query = {
    "text":{
        "$regex": 'Virginia'
    }
}

In [79]:
VA = today.find(query)

In [80]:
for x in VA:
    print(x)

{'_id': ObjectId('5f811baa84bd7cde5b44a63a'), 'year': '1864', 'text': 'American Civil War: Union cavalrymen  defeat Confederate forces at Toms Brook, Virginia.', 'html': '1864 - American Civil War: Union cavalrymen <a href="https://wikipedia.org/wiki/Battle_of_Tom%27s_Brook" title="Battle of Tom\'s Brook">defeat</a> Confederate forces at Toms Brook, Virginia.', 'no_year_html': 'American Civil War: Union cavalrymen <a href="https://wikipedia.org/wiki/Battle_of_Tom%27s_Brook" title="Battle of Tom\'s Brook">defeat</a> Confederate forces at Toms Brook, Virginia.', 'links': [{'title': "Battle of Tom's Brook", 'link': 'https://wikipedia.org/wiki/Battle_of_Tom%27s_Brook'}]}

In [85]:
today.count_documents(query)

1

ERROR! Session/line number was not unique in database. History logging moved to new session 364

In [86]:
from bson.json_util import dumps, loads

ERROR! Session/line number was not unique in database. History logging moved to new session 365

In [87]:
VA_text = dumps(today.find(query))

In [88]:
VA_listings = loads(VA_text)
VA_listings[0]

{'_id': ObjectId('5f811baa84bd7cde5b44a63a'),
 'year': '1864',
 'text': 'American Civil War: Union cavalrymen  defeat Confederate forces at Toms Brook, Virginia.',
 'html': '1864 - American Civil War: Union cavalrymen <a href="https://wikipedia.org/wiki/Battle_of_Tom%27s_Brook" title="Battle of Tom\'s Brook">defeat</a> Confederate forces at Toms Brook, Virginia.',
 'no_year_html': 'American Civil War: Union cavalrymen <a href="https://wikipedia.org/wiki/Battle_of_Tom%27s_Brook" title="Battle of Tom\'s Brook">defeat</a> Confederate forces at Toms Brook, Virginia.',
 'links': [{'title': "Battle of Tom's Brook",
   'link': 'https://wikipedia.org/wiki/Battle_of_Tom%27s_Brook'}]}